{% block pager_links %}
	{% set links = pager.getPageLinks %}

	<div class="pagination">
		<ul>
			<li class="{{ links['first']['active'] ? 'disabled' : '' }}">
				<a href="{{ links['first']['href'] }}">First</a>
			</li>

			<li class="{{ links['previous']['active'] ? 'disabled' : '' }}">
				<a href="{{ links['previous']['href'] }}">Previous</a>
			</li>

			{% if links['adjacent'] %}
				{% for key,value in links['adjacent'] %}
					<li class="{{ value['active'] ? 'active' : '' }}">
						<a href="{{ value['href'] }}">{{ key }}</a>
					</li>
				{% endfor %}
			{% endif %}

			<li class="{{ links['next']['active'] ? 'disabled' : '' }}">
				<a href="{{ links['next']['href'] }}">Next</a>
			</li>

			<li class="{{ links['last']['active'] ? 'disabled' : '' }}">
				<a href="{{ links['last']['href'] }}">Last</a>
			</li>
		</ul>
	</div>

{% endblock %}